@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: url('/src/assets/GIFS.gif') no-repeat center center fixed;
  background-size: cover;
}
.font{
  color: rgb(100, 300, 200);
}
.section{
  @apply py-8 lg:py-20 lg:h-screen  flex items-center
}

.active{
  background: linear-gradient(45deg,red 30%,blue 70%);
  border-radius: 50%;
  color: #ffff;
  
}
html{
  scroll-behavior: smooth;
}
.text{
  color: rgba(400, 200, 700, 700);
}
html, body {
  overflow-x: hidden;
  
}
.slide-in{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transform-origin: top;
  
}
.slide-out{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transform-origin: top;
}


.background{
  background: url("/src/assets/GIFS.gif")  no-repeat center center fixed;
  background-size: cover;
 
}
.sun{
  position: absolute;
  width: 15em;
  height: 15em;
  top: 12.5em;
  left: 12.5em;
  background-color: #ffcc00;
  border-radius: 50%;
  box-shadow: 0 0 3em white;
}

.earth , .moon{
position: absolute;
border-style: solid;
border-color: white transparent transparent transparent;
border-width: 0.1em 0.1em 0 0 ;
border-radius: 50%;
}
.earth{
  top: 5em;
  left: 5em;
  width: 30em;
  height: 30em;
  animation: orbit 36.5s linear infinite;
}
.moon{
  top: 0;
  right: 0;
  width: 8em;
  height: 8em;
  animation: orbit 2.7s linear infinite;
}

  .earth::before,
  .moon::before{
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  .earth::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: #72cdfa;
  }

  .moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: #ccc;
  }
  @keyframes orbit{
    to{
      transform: rotate(360deg);
    }
  }
  .contain{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
  }
  .rgba{
    color: rgb(100, 300, 200);
  }